.popup__container {
  position: relative;
  width: 100%;
  max-width: 430px;
  min-width: 282px;
  cursor: default;
}
@media screen and (max-width:468px) {
  .popup__container {
    max-width: calc(100% - 38px);
  }
}
