.form_type_auth{
    padding: 60px 0 0;

    background: none;
    border: none;

    text-align: center;
    color: #fff;
}
@media screen and (max-width:425px) {
    .form_type_auth {
        padding: 40px 30px;
    }
    
}