@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/button/_type/button_type_menu.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/_active/header__menu_active.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_sign-out/header__link_sign-out.css);

@import url(./blocks/content/content.css);

@import url(./blocks/button/button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__edit-icon/profile__edit-icon.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/button/_type/button_type_edit.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/button/_type/button_type_add.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/button/_type/button_type_delete.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__likes-container/element__likes-container.css);
@import url(./blocks/button/_type/button_type_like.css);
@import url(./blocks/button/_type/button_type_like_active.css);
@import url(./blocks/element/__likes-counter/element__likes-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_photo-viewing.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-title/popup__photo-title.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/button/_type/button_type_submit.css);
@import url(./blocks/button/_type/button_type_submit_disabled.css);
@import url(./blocks/button/_type/button_type_close.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/auth-container/auth-container.css);
@import url(./blocks/form/_type/form_type_auth.css);
@import url(./blocks/form/__input/_type/form__input_type_auth.css);
@import url(./blocks/form/__notification/form__notification.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/button/_type/button_type_auth.css);

@import url(./blocks/popup/__info-tooltip/popup__info-tooltip.css);
@import url(./blocks/popup/__info-image/popup__info-image.css);
@import url(./blocks/popup/__info-title/popup__info-title.css);

