.header {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 45px 0 0;
}
@media screen and (max-width: 918px) {
  .header {
    padding: 0 19px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
  }
}
