.form__field {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}
.form__field:first-of-type {
  margin-top: 48px;
}
.form__field:not(:last-of-type) {
  margin-bottom: 30px;
}
@media screen and (max-width: 425px) {
  .form__field:first-of-type {
    margin-top: 75px;
  }
}
